footer {
	width: 100vw; /*展开footer宽度*/
    height: 5vh; /*设定footer高度*/
    position: absolute; /*设定footer绝对位置在底部*/
    bottom: 0;
    /*padding: 0.5vh 15vw;*/
    font-size: 3vh !important;
    background-color: #11cdef;
    /*z-index: 100 !important;*/
    text-align: center;
    color: #ffffff;
    /*line-height: 40px;*/
}

.full-screen
{
	height: 75vh !important;
}

.page-main
{
	height: 75vh !important;
	width: 100vw;
	margin: 0 auto;
	padding: 10vh 30vw;
	padding-top: 6rem;
}

.page-header
{
	height: 20vh;
	width: 100vw;
	padding: 5vh 15vw;
	color: #fff;
	background-color: #5e72e4;
	/*background-image: linear-gradient(120deg, #281483, #d782d9);*/
	background-image: linear-gradient(87deg, #5e72e4 0, #825ee4 100%) !important;
}

.back
{
	height: 10vmin !important;
	width: 15vmin !important;
}

.left-arrow
{
	font-size: 18px;
	font-weight: 50 !important;
	font-family: SimHei;
}

.left-arrow::before
{
	content:"<";
}

.right-arrow
{
	font-size: 18px;
	font-weight: 50 !important;
	font-family: SimHei;
}

.right-arrow::before
{
	content:">";
}

.game-button {
	width: 15vh;
	height: 15vh;
	position: absolute !important;
    bottom: 15vmin;
    right: 15vmin;
    z-index: 200 !important;
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 10%, 0);
        transform: translate3d(0, 10%, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 10%, 0);
        -ms-transform: translate3d(0, 10%, 0);
        transform: translate3d(0, 10%, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none
    }
}
.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp
}
.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft
}
@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-10%, 0, 0);
        transform: translate3d(-10%, 0, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-10%, 0, 0);
        transform: translate3d(-10%, 0, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

.in-left
{
	animation: fadeInLeft 1s ease;
}

.in-up
{
	animation: fadeInUp 1s ease;
}

h1
{
	animation: fadeInLeft 1s ease;
}

h2
{
	animation: fadeInLeft 1s ease;
}

.card
{
	animation: fadeInUp 1s ease;
}