.board {
    width: 400px;
    margin: auto;
    /*box-shadow: 0 10px 20px rgba(50, 50, 93, .17),0 5px 8px rgba(0, 0, 0, .22) !important;*/

}

.info {
    width: 500px;
    margin: auto;
}

.move-history {
    max-height: 100px;
    overflow-y: scroll;
}